* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.input-field {
    position: relative;
}

.input-field input {
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #7854fc;
    background: transparent;
    color: rgb(255, 255, 255);
    outline: none;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    color: #fc5f5f;
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;     
}

input:focus {
    border: 2px solid #c7ebeb;
}

input:focus ~ label,
input:valid ~ label{
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #646464;
  }